<article class="post">
	<header>
		<div class="title">
			<h2><a href="#">¿Quienes son los viajeros detras de Traveler's Food?</a></h2>
			<p>Lo mas importante del contenido generado en este sitio proviene de las experiencias de sys viajeros</p>
		</div>
	</header>
	<p>
		Aqui puedes revisar informacion a detalle de cada uno de ellos y algunas formas de ponerte en contacto con ellos para solicitar informacion, tips o simplemente para buscar gente con el mismo entusiasmo y pasion por descubrir el mundo que se encuentra detras de la comida en cada rincon del mundo.
	</p>
	<p>
		De antemano agradecemos tu visita y esperamos poderte encontrar en el camino!
	</p>
	<p>
		Sinceramente,
	</p>
	<p>
		Traveler's Food
	</p>
	<p>
		<a class="twitter-follow-button" data-show-count="false" href="https://twitter.com/travelersfoodmx" data-size="large">Follow @TravelersFoodMx</a>
	</p>
	<section>
		<header>
			<h3>Hugo Guerrero</h3>
		</header>
		<p>
			<span class="image featured">
				<img src="images/hguerreroo.jpg" alt="@hguerreroo" />Photo: Sunset by royal palace | Madrid, Spain
			</span>
		</p>
		<p>
			Mi nombre es Hugo y practimante he viajado toda mi vida. Nacido en la Ciudad de Mexico, con solo unos meses de vida, mis padres, quienes me heredaron el gen viajero, me han alentado a recorrer el mundo; ya se en su compañia, la de mi esposa, compañeros de trabajo o por mi mismo. De profesion ingeniero en sistemas, mi principal hobby es de viajar y disfrutar la comida que pueden ofrecer esos viajes.
		</p>
		<p>
			Me considero a mi mismo un gourmand y no gourment, ya que para mi, es una delicia tanto la comida 3 estrellas michelin como los tacos de la esquina. La mayor parte de mis aportaciones estan enfocadas a la Ciudad de Mexico, donde actualmente vivo, pero no estan limitadas a esta ciudad. Afortundamente, he tenido la fortunda de probar comida informal en casi todos los continentes, por tanto podran ver aportaciones de todos esos lugares.
		</p>
		<p>
			<a class="twitter-follow-button" data-show-count="false" data-size="large" href="https://twitter.com/hguerreroo"> Follow @hguerreroo</a>
		</p>
	</section>
	<footer>
		<ul class="stats">
			<li><a href="#">General</a></li>
			<li><a href="#" class="icon fa-heart">28</a></li>
			<li><a href="#" class="icon fa-comment">128</a></li>
		</ul>
	</footer>
</article>
