<!-- Main -->
<div class="wrapper style1">

	<div class="container">
		<div class="row">
			<div class="8u skel-cell-mainContent" id="content">
				<article id="main">
					<header>
						<h2><a href="#">Acerca de los Viajeros</a></h2>
						<span class="byline">
							¿Quienes son los viajeros detras de Traveler's Food?
						</span>
					</header>
					<p>
						Lo mas importante del contenido generado en este sitio proviene de las experiencias de los viajeros que comparten la informacion. Aqui puedes revisar informacion a detalle de cada uno de ellos y algunas formas de ponerte en contacto con ellos para solicitar informacion, tips o simplemente para buscar gente con el mismo entusiasmo y pasion por descubrir el mundo que se encuentra detras de la comida en cada rincon del mundo.
					</p>
					<section>
						<header>
							<h3>Hugo Guerrero</h3>
						</header>
						<p>
							<a href="http://www.twitter.com/hguerreroo" class="image"><img src="images/hguerreroo.jpg" alt="@hguerreroo" />@hguerreroo - sunset by royal palace | Madrid, Spain</a>
						</p>
						<p>
							Mi nombre es Hugo y practimante he viajado toda mi vida. Nacido en la Ciudad de Mexico, con solo unos meses de vida, mis padres, quienes me heredaron el gen viajero, me han alentado a recorrer el mundo; ya se en su compañia, la de mi esposa, compañeros de trabajo o por mi mismo. De profesion ingeniero en sistemas, mi principal hobby es de viajar y disfrutar la comida que pueden ofrecer esos viajes.
						</p>
						<p>
							Me considero a mi mismo un gourmand y no gourment, ya que para mi, es una delicia tanto la comida 3 estrellas michelin como los tacos de la esquina. La mayor parte de mis aportaciones estan enfocadas a la Ciudad de Mexico, donde actualmente vivo, pero no estan limitadas a esta ciudad. Afortundamente, he tenido la fortunda de probar comida informal en casi todos los continentes, por tanto podran ver aportaciones de todos esos lugares.
						</p>
					</section>
					<!--section>
						<header>
							<h3>Augue euismod feugiat tempus</h3>
						</header>
						<p>
							Pretium tellus in euismod a integer sodales neque. Nibh quis dui quis mattis eget imperdiet venenatis feugiat. Neque primis ligula cum erat aenean tristique luctus risus ipsum praesent iaculis. Fermentum elit ut nunc urna volutpat donec cubilia commodo risus morbi. Lobortis vestibulum velit malesuada ante egestas odio nisl duis sociis purus faucibus morbi. Eget massa mus etiam sociis pharetra magna.
						</p>
					</section-->
				</article>
			</div>
			<div class="4u" id="sidebar">
				<%- partial("_shared/sidebar") %>
			</div>
		</div>
		<hr />
		<div class="row">
			<article class="4u special">
				<a href="http://mdomaradzki.deviantart.com/art/Bueller-VII-351975126" class="image featured"><img src="images/pic07.jpg" alt="" /></a>
				<header>
					<h3><a href="#">Gravida aliquam penatibus</a></h3>
				</header>
				<p>
					Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
				</p>
			</article>
			<article class="4u special">
				<a href="http://mdomaradzki.deviantart.com/art/Home-Bound-Train-II-338912191" class="image featured"><img src="images/pic08.jpg" alt="" /></a>
				<header>
					<h3><a href="#">Sed quis rhoncus placerat</a></h3>
				</header>
				<p>
					Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
				</p>
			</article>
			<article class="4u special">
				<a href="http://mdomaradzki.deviantart.com/art/Up-is-Down-325005102" class="image featured"><img src="images/pic09.jpg" alt="" /></a>
				<header>
					<h3><a href="#">Magna laoreet et aliquam</a></h3>
				</header>
				<p>
					Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
				</p>
			</article>
		</div>
	</div>

</div>
