<!-- Post -->
	<article class="post">
		<header>
			<div class="title">
				<h2><a href="#">¡Bienvenido a la comida del mundo!</a></h2>
				<p>¡Estas a punto de iniciar tu ruta gastronomica alrededor de mundo!</p>
			</div>
		</header>
		<span class="image featured"><img src="images/starthere01.jpg" alt="" /></span>
		<p>
			¿Acaso existe algo mas fascinante que comer? ¿Que me dicen de probar nuevos platillos? Eso es lo que hacemos en Traveler's Food. Recorremos el mundo con la premisa de poder probar la mas deliciosa comida. Sin embargo, tratamos de alejarnos de los clasicos restaurantes de guia turistica para adentrarnos en la cultura y el corazon gastronomico de la ciudad, pais o cultura que estemos visitando.
		</p>
		<p>
			En este sitio podras encontrar desde informacion relacionada con la preparacion de tu viaje, pasando por los consejos y recomendaciones clasicas durante el viaje, hasta indicaciones de como encontrar esos lugares secretos que volveran tus vacaciones un recuerdo inborrable. Acompañanos a conocer el contenido del sitio y las secciones mas interesantes del mismo.
		</p>
		<footer>
			<ul class="stats">
				<li><a href="#">General</a></li>
				<li><a href="#" class="icon fa-heart">28</a></li>
				<li><a href="#" class="icon fa-comment">128</a></li>
			</ul>
		</footer>
	</article>
