<!-- Post -->
	<article class="post">
		<header>
			<div class="title">
				<h2><a href="#">Tips de Viaje</a></h2>
				<p>Siempre es bueno contar con trucos bajo la manga</p>
			</div>
		</header>
		<span class="image featured"><img src="images/tips01.jpg" alt="" /></span>
		<p>
			Siempre que estes preparando un viaje, en el curso de uno, o regresando a casa, es importante contar con informacion util que pueda hace mas placentera tu experiencia. Con el tiempo hemos ido acumulando experiencias buenas y malas, que al compartirlas con otros viajeros, nos ayuda que alguien mas pueda evitarse dificultades y distrutar mas de su aventura.
		</p>
		<footer>
			<ul class="stats">
				<li><a href="#">General</a></li>
				<li><a href="#" class="icon fa-heart">28</a></li>
				<li><a href="#" class="icon fa-comment">128</a></li>
			</ul>
		</footer>
	</article>
