<header id="header">
  <h1><a href="/">Traveler's Food</a></h1>
  <nav class="links">
    <ul>
      <li><a href="/pages/starthere">Empieza Aqui</a></li>
      <li><a href="/pages/tips">Tips de Viaje</a></li>
      <li><a href="/pages/categories">Destinos</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/pages/about">Acerca de Traveler's Food</a></li>
    </ul>
  </nav>
  <nav class="main">
    <ul>
      <li class="search">
        <a class="fa-search" href="#search">Buscar</a>
        <form id="search" method="get" action="#">
          <input type="text" name="query" placeholder="Buscar" />
        </form>
      </li>
      <li class="menu">
        <a class="fa-bars" href="#menu">Menu</a>
      </li>
    </ul>
  </nav>
</header>

<section id="menu">

  <!-- Search -->
    <section>
      <form class="search" method="get" action="#">
        <input type="text" name="query" placeholder="Search" />
      </form>
    </section>

  <!-- Links -->
    <section>
      <ul class="links">
        <li>
          <a href="/pages/starthere">
            <h3>Empieza Aqui</h3>
            <p>Inicia tu aventura</p>
          </a>
        </li>
        <li>
          <a href="/pages/tips">
            <h3>Tips de Viaje</h3>
            <p>Trucos y consejos utiles</p>
          </a>
        </li>
        <li>
          <a href="/pages/categories">
            <h3>Destinos</h3>
            <p>Escoge tu proximo destino</p>
          </a>
        </li>
        <li>
          <a href="/blog">
            <h3>Blog</h3>
            <p>Revisa los relatos</p>
          </a>
        </li>
      </ul>
    </section>

  <!-- Actions
    <section>
      <ul class="actions vertical">
        <li><a href="#" class="button big fit">Log In</a></li>
      </ul>
    </section>
   -->

</section>
