<section id="sidebar">

  <!-- Intro -->
    <section id="intro">
      <a href="/" class="logo"><img src="/images/logo.jpg" alt="" /></a>
      <header>
        <h2>Traveler's Food Around The World</h2>
        <p>Blog de comida casual para viajeros</p>
      </header>
      <ul class="icons">
        <li><a href="http://www.twitter.com/travelersfoodmx" class="fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="http://www.facebook.com/travelersfood" class="fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="http://www.instagram.com/travelersfoodmx" class="fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="http://www.pinterest.com/travelersfood" class="fa-pinterest"><span class="label">Pinterest</span></a></li>
      </ul>
      <div class="fb-like" data-href="http://www.travelersfood.com" data-width="350" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
    </section>

  <!-- Mini Posts -->
    <section>
      <div class="mini-posts">

        <!-- Mini Post -->
          <article class="mini-post">
            <header>
              <h3><a href="/pages/tips">Tips de Viaje</a></h3>
              <time class="published" datetime="2015-10-20">October 20, 2015</time>
              <a href="/pages/about" class="author"><img src="/images/authors/hguerrero.jpg" alt="" /></a>
            </header>
            <a href="/pages/tips" class="image"><img src="/images/tips01.jpg" alt="" /></a>
          </article>

        <!-- Mini Post -->
          <article class="mini-post">
            <header>
              <h3><a href="/pages/categories">Destinos</a></h3>
              <time class="published" datetime="2015-10-19">October 19, 2015</time>
              <a href="/pages/about" class="author"><img src="/images/authors/hguerrero.jpg" alt="" /></a>
            </header>
            <a href="/pages/categories" class="image"><img src="/images/categories01.jpg" alt="" /></a>
          </article>

      </div>
    </section>

  <!-- Posts List -->
    <section>
      <ul class="posts">  
        <% for(var slug in public.posts._data){ %>
          <li>
            <article>
              <header>
                <h3><a href="/posts/<%= slug %>"><%= public.posts._data[slug].title %></a></h3>
                <time class="published" datetime="2015-10-20">October 20, 2015</time>
              </header>
              <a href="/posts/<%= slug %>" class="image"><img src="/images/<%= public.posts._data[slug].ft_image %>" alt="" /></a>
            </article>
          </li>
        <% }; %>
      </ul>
    </section>

  <!-- facebook
    <section>
      <header>
        <h3>Facebook Timeline</h3>
      </header>
      <div class="fb-page" height="250" data-href="https://www.facebook.com/travelersfood/" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/travelersfood/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/travelersfood/">Traveler&#039;s Food</a></blockquote></div>
    </section>
   -->

  <!-- twitter -->
    <section>
      <header>
        <h3>Tweets by Traveler's Food</h3>
      </header>
      <a class="twitter-timeline" data-tweet-limit="3" data-chrome="noheader nofooter noborders transparent" href="https://twitter.com/travelersfoodmx">Tweets by @travelerfoodmx</a>
    </section>

  <!-- About -->
    <section class="blurb">
      <h2>Acerca de Traveler's Food</h2>
      <p>
        Aqui puedes revisar informacion a detalle de cada uno de ellos y algunas formas de ponerte en contacto con ellos para solicitar informacion, tips o simplemente para buscar gente con el mismo entusiasmo y pasion por descubrir el mundo que se encuentra detras de la comida en cada rincon del mundo.
      </p>
      <ul class="actions">
        <li><a href="/pages/about" class="button">Leer mas...</a></li>
      </ul>
      <a class="twitter-follow-button" data-show-count="false" href="https://twitter.com/travelersfoodmx" data-size="large">Follow @TravelersFoodMx</a>
    </section>

</section>
