<section id="sidebar">

  <!-- Intro -->
    <section id="intro">
      <a href="/" class="logo"><img src="images/logo.jpg" alt="" /></a>
      <header>
        <h2>Traveler's Food Around The World</h2>
        <p>Blog de comida casual para viajeros</p>
      </header>
      <ul class="icons">
        <li><a href="http://www.twitter.com/travelersfoodmx" class="fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="http://www.facebook.com/travelersfood" class="fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="http://www.instagram.com/travelersfoodmx" class="fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="http://www.pinterest.com/travelersfood" class="fa-pinterest"><span class="label">Pinterest</span></a></li>
      </ul>
    </section>

  <!-- Mini Posts -->
    <section>
      <div class="mini-posts">

        <!-- Mini Post -->
          <article class="mini-post">
            <header>
              <h3><a href="/tips">Tips de Viaje</a></h3>
              <time class="published" datetime="2015-10-20">October 20, 2015</time>
              <a href="/about" class="author"><img src="images/avatar.jpg" alt="" /></a>
            </header>
            <a href="/tips" class="image"><img src="images/tips01.jpg" alt="" /></a>
          </article>

        <!-- Mini Post -->
          <article class="mini-post">
            <header>
              <h3><a href="/categories">Destinos</a></h3>
              <time class="published" datetime="2015-10-19">October 19, 2015</time>
              <a href="/about" class="author"><img src="images/avatar.jpg" alt="" /></a>
            </header>
            <a href="/categories" class="image"><img src="images/categories01.jpg" alt="" /></a>
          </article>

      </div>
    </section>

  <!-- Posts List -->
    <section>
      <ul class="posts">
        <li>
          <article>
            <header>
              <h3><a href="/blog">Blog</a></h3>
              <time class="published" datetime="2015-10-20">October 20, 2015</time>
            </header>
            <a href="#/blog" class="image"><img src="images/pic08.jpg" alt="" /></a>
          </article>
        </li>
        <li>
          <article>
            <header>
              <h3><a href="/about">Acerca de los Viajeros</a></h3>
              <time class="published" datetime="2015-10-15">October 15, 2015</time>
            </header>
            <a href="/about" class="image"><img src="images/pic09.jpg" alt="" /></a>
          </article>
        </li>
      </ul>
    </section>

  <!-- twitter -->
    <section>
      <header>
        <h3>Tweets by Traveler's Food</h3>
      </header>
      <a class="twitter-timeline" data-tweet-limit="3" data-chrome="noheader nofooter noborders transparent" href="https://twitter.com/travelersfoodmx">Tweets by @travelerfoodmx</a>
    </section>

  <!-- About -->
    <section class="blurb">
      <h2>Acerca de Traveler's Food</h2>
      <p>
        Aqui puedes revisar informacion a detalle de cada uno de ellos y algunas formas de ponerte en contacto con ellos para solicitar informacion, tips o simplemente para buscar gente con el mismo entusiasmo y pasion por descubrir el mundo que se encuentra detras de la comida en cada rincon del mundo.
      </p>
      <ul class="actions">
        <li><a href="/about" class="button">Leer mas...</a></li>
      </ul>
      <a class="twitter-follow-button" data-show-count="false" href="https://twitter.com/travelersfoodmx" data-size="large">Follow @TravelersFoodMx</a>
    </section>

</section>
